<div class="row mt-5">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>
            your account was created successfully.
        </h2>
        <a class="btn btn-lg-success" asp-action="Login">
            Login
        </a>
    </div>
</div>